// assets/variables.scss

// Variables you want to modify
$pagination-item-height: 5rem;
$pagination-item-min-width: 5rem;
$pagination-navigation-height: 5rem;
$pagination-navigation-width: 5rem;



// Modifying a SASS map variable